body{
    background-color:#FFFBE9;
}
.nav1{
    padding: 20px;
    background-color:#453C67;
    border:2px double green;

    
}


.usern{
    font-size:25px;
    
    padding: 40px;
    padding-left:10px;
    padding-bottom: 15px;
}
#uname{
    background-color: #FFEBAD;
    border-radius: 8px;
    border:2px solid black;
    color:black;
    padding:10px 22px;
    cursor:pointer;
    
}
.userp{
    font-size:25px; 
    padding: 40px;
    padding-left:10px;
}
#upass{
    background-color: #FFEBAD;
    border-radius: 8px;
    border:2px solid black;
    color:black;
    padding:10px 22px;
    cursor:pointer
}
#but1{
    background-color: #6D67E4;
    border:3px solid black;
    font-size:20px;
    padding:10px 60px;
    border-radius: 7px;
    cursor:pointer;
 
}
.case {
    font-size: 28px;
    padding-left:500px;

}
#tc{
    background-color:#FAEAB1;
    border: 3px solid black;
    padding:7px 25px;
}
